div{
	background-color:#430368;
	color:white;
}

body {
	background-color:#430368 !important;
	color:white;
	font-size: 35px;
}

nav {


}

.blue {
	padding-bottom: 30px;
	
}

.league img {
		width="200" height="40"
	
}